* {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, Helvetica, sans-serif;
  list-style: none; }

img {
  width: 80%;
  height: 80%; }

#user-photo {
  margin-top: 10%;
  box-shadow: 0 0 20px aqua; }

@media (max-width: 430px) {
  #contacts div {
    margin: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@keyframes map-hover {
  0% {
    border-color: silver;
    box-shadow: 0 0 10px aquamarine; }
  100% {
    border-color: white;
    box-shadow: 0 0 20px aqua; } }

i {
  margin-right: 5px; }

body {
  background: gray;
  background: linear-gradient(90deg, silver 12%, aquamarine 48%, silver 88%); }

@keyframes anchor-hover {
  0% { }
  100% {
    color: #95ffdc; } }

header {
  position: fixed;
  height: 6%;
  width: 100%;
  background-color: #454547d3;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  header #menu ul {
    display: flex;
    justify-content: center;
    background-color: white; }
    header #menu ul #first-li {
      border-left: 4px solid #454547; }
      header #menu ul #first-li:hover {
        border-color: #fff; }
    header #menu ul #last-li {
      border-right: 4px solid #454547; }
      header #menu ul #last-li:hover {
        border-color: #fff; }
    header #menu ul li {
      position: relative; }
    header #menu ul a {
      display: block;
      padding: 15px 30px 15px 40px;
      font-size: 16px;
      color: #454547;
      text-decoration: none;
      text-transform: capitalize; }
      header #menu ul a:hover {
        background: #454547;
        color: #fff;
        box-shadow: 1px 5px 10px white;
        transition: all 250ms ease; }

main {
  padding: 0% 15%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center; }
  main article {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: calc(3vh);
    background-color: #fff;
    border-bottom: calc(1vh) solid #454547; }
    main article#about section {
      width: 90%;
      padding: 5%; }
    main article#skills section, main article#expirience section, main article#project section {
      width: 90%;
      padding: 5%; }
    main article#skills img, main article#expirience img, main article#project img {
      align-self: center; }
    main article#about, main article#contacts, main article#cv {
      align-items: center; }
    main article#contacts, main article#cv {
      font-size: large;
      font-weight: 900; }
      main article#contacts section, main article#cv section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
      main article#contacts div, main article#cv div {
        margin: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        main article#contacts div *, main article#cv div * {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0 5%; }
          main article#contacts div * i, main article#cv div * i {
            width: auto;
            padding: 0;
            margin: 2%; }
    main article h2 {
      margin: 4%; }
    main article section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 98%;
      margin: 2% 0;
      padding: 1%;
      border: 1px solid silver;
      box-shadow: 0 0 4px aqua; }
      main article section:hover {
        animation: map-hover 0.7s linear 0s infinite alternate none; }
      main article section iframe {
        margin: 5%;
        align-self: center; }
      main article section a {
        color: aqua; }
        main article section a:active, main article section a:hover {
          animation: anchor-hover 200ms ease 0s infinite alternate none; }

.project {
  width: 90%;
  margin: 2% 0;
  padding: 5%; }

#user-photo {
  width: 40%;
  height: 50%;
  border-radius: 50%; }

iframe {
  width: calc(35vw);
  height: 30%; }

@media (max-width: 430px) {
  main article#contacts div {
    margin-right: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    main article#contacts div section {
      margin-bottom: 10px; } }

@media (max-width: 699px) {
  header {
    display: none; }
  #user-photo {
    width: 50%;
    height: 50%; } }

@media (min-width: 700px) {
  #user-photo {
    width: 300px;
    height: 300px; }
  #cat {
    width: 50%; } }

@media (min-width: 1600px) {
  * {
    font-size: 1.2em; }
  h2 {
    font-size: 2em; }
  h3 {
    font-size: 1.8em; }
  header {
    height: 2.5em; }
    header #menu li a {
      font-size: 0.6em; } }
